<div class="content">
  <div class="row">
    <div class="sidebar dash-side-collapse">
      <ul class="nav">
        <li class="nav-item">
          <a style="text-transform: none; cursor: initial; padding: 0 8px; font-size: larger;" (click)="filterTopic()">
            <p class="topic-abbreviation">All Notes</p>
          </a>
        </li>
        <li
          *ngFor="let item of topics"
          class="nav-item"
        >
          <a style="text-transform: none; cursor: initial; padding: 0 8px; font-size: larger;" (click)="filterTopic(item)">
            <p class="topic-abbreviation">{{ item.topic_name }}</p>
          </a>
        </li>
      </ul>
    </div>
    <div class="card card-chart" style="width: 100%;">
      <div class="card-header">
        <div class="row justify-content-between">
          <div class=" col-xs-9 text-left" style="padding-left: 20px;">
            <h2 class=" card-title">My Notes</h2>
          </div>
          <div class=" col-xs-3" style="padding-right: 15px;">
            <div style="float: right">
              <ul style="display: inline-flex;" >
                <li class=" search-bar input-group">
                  <button
                    class=" btn btn-link"
                    data-target="#searchModal"
                    data-toggle="modal"
                    (click)="open(search)"
                    id="search-button"
                  >
                    <i class=" tim-icons icon-zoom-split"> </i>
                  </button>
                </li>
                <li class=" search-bar input-group" style="margin-left: 0;">
                  <button
                    class=" btn btn-link"
                    data-target="#addNote"
                    data-toggle="modal"
                    (click)="open(addNote)"
                    id="search-button"
                  >
                    <i class=" tim-icons icon-simple-add"> </i>
                  </button>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="card-body" style="padding: 0 20px 15px;">
        <div class="row">
          <div class="col-sm-6" *ngFor="let note of showedNotes">
            <div class="card note-card" (click)="open(displayNote, note)">
              <div class="card-header">
                <div class="row justify-content-between">
                  <div class=" col-xs-9 text-left" style="padding-left: 15px; width: 80%;">
                    <h4 class=" card-title topic-title-abbreviation" style="color: #27293d; font-weight: bolder">
                      {{note.topic.topicName}}
                    </h4>
                  </div>
                  <div class=" col-xs-3">
                    <button
                      class=" btn btn-link"
                      data-target="#searchModal"
                      data-toggle="modal"
                      (click)="open(search)"
                      id="search-button"
                      style="font-size: larger; margin-top: -8px; margin-right: 5px"
                    >
                      <i class=" tim-icons icon-pencil"> </i>
                    </button>
                  </div>
                
                </div>
              </div>
              <div class="card-body" style="padding: 0 15px;">
                <h4 class="abbreviation" style="color: #27293d">{{note.note}}</h4>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>

<ng-template #search let-modal>
  <div class=" modal-header">
    <input
      class=" form-control"
      id="inlineFormInputGroup"
      placeholder="SEARCH"
      type="text"
      [(ngModel)]="searchedValue"
      style="padding-right: 65px;"
    />

    <button
      aria-label="Close"
      class=" close"
      data-dismiss="modal"
      type="button"
      (click)="modal.dismiss('search')"
      style="right: 60px"
    >
      <i class=" tim-icons icon-zoom-split"> </i>
    </button>

    <button
      aria-label="Close"
      class=" close"
      data-dismiss="modal"
      type="button"
      (click)="modal.dismiss('Cross click')"
    >
      <i class=" tim-icons icon-simple-remove"> </i>
    </button>
  </div>
</ng-template>

<ng-template #addNote let-modal>
  <div class=" modal-header">
    
    <div ngbDropdown class="d-inline-block">
      <button class="btn btn-outline-primary btn-dropdown" id="dropdownBasic1" ngbDropdownToggle>Select Topic</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button class="btn-dropdown-item" ngbDropdownItem (click)="convertTopicFlag()">
          Add new topic
        </button>
        <button class="btn-dropdown-item" ngbDropdownItem *ngFor="let topic of topics" (click)="selectTopic(topic)">
          {{topic.topic}}
        </button>
      </div>
    </div>

    <input
      *ngIf="addTopicFlag"
      class=" form-control"
      style="padding-right: 30px; padding-left: 20px;"
      id="topic"
      placeholder="ADD TOPIC"
      type="text"
      [(ngModel)]="newTopicName"
    />

    <span *ngIf="!addTopicFlag" style="width: 100%; padding: 15px 20px;">
      {{selectedTopic.topic}}
    </span>

    <button
      aria-label="Close"
      class=" close"
      data-dismiss="modal"
      type="button"
      (click)="modal.dismiss('save-note')"
    >
      <i class=" tim-icons icon-check-2" style="color: green; font-weight: bolder;"> </i>
    </button>
  </div>

  <div class=" modal-header" style="padding-top: 0;">
    <input
      class=" form-control"
      style="padding-right: 30px;"
      id="inlineFormInputGroup"
      placeholder="ADD NOTE"
      type="text"
      [(ngModel)]="newNoteContent"
    />
    
  </div>
</ng-template>

<ng-template #displayNote let-modal>
  <div class=" modal-header">

    <div style="width: 96%">
      <div class="displayNote">
        <span class="title">Topic:&nbsp;</span>
        <span class="noteTopic">
          {{viewedNote.topic}}
        </span>
      </div>
  
      <div class="displayNote">
        <span class="title">Note:&nbsp;</span>
        <span class="noteContent">
          {{viewedNote.content}}
        </span>
      </div>
    </div>
    
    <button
      aria-label="Close"
      class=" close"
      data-dismiss="modal"
      type="button"
      (click)="modal.dismiss('displayNote')"
    >
      <i class=" tim-icons icon-simple-remove"> </i>
    </button>
  </div>
</ng-template>
