.topic-abbreviation, .abbreviation, .topic-title-abbreviation {
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
    /* text-transform: capitalize; */
}

.topic-abbreviation:hover {
    overflow: visible;
    /* background: #27293d; */
    width: max-content;
}

/* .abbreviation:hover {
    white-space: initial;
} */

.note-card {
    background: #fcaf58; 
    margin-bottom: 15px;
}

.note-card:hover {
    transition: all .2s ease-in-out;
    transform: scale(1.04);
}

.note-card:hover .abbreviation{
    transition: all .2s ease-in-out;
    white-space: initial;
}

.multiselect {
    width: 100%;
}

.btn-dropdown {
    position: initial !important;
    right: initial !important;
    top: initial !important;
    margin: initial !important;
}

.btn-dropdown-item {
    position: initial !important;
    right: initial !important;
    top: initial !important;
    margin: initial !important;
    color: #1d1d24;
}

@media (max-width: 991px) {
    .dash-side-collapse {
        padding-top: 40px;
    }
}

.displayNote, .editNote {
    width: 100%;
    padding: 10px 0;
    line-height: 24px;
}

.displayNote .title, .editNote .title {
    font-weight: bold; 
    color: #e6322f;
}

.displayNote .noteTopic, .displayNote .noteContent {
    color: #1d1d28;
}

.editNote {
    display: inline-flex;
}

.editNote .selectTopicBtn {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 5px !important;
}

.no-text {
    text-align: center;
    font-size: larger;
}

.editBtn {
    width: fit-content !important;
    right: unset !important;
    top: unset !important;
    margin: auto;
}

.template-header {
    color: #fcaf58;
    font-weight: bolder;
    letter-spacing: 1px;

    background: linear-gradient(to right, #fcaf58 0%, #d81e5b 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.editTopicName {
    padding-left: 10px; 
    color: var(--light);
}

.editTopicName:hover {
    cursor: pointer;
}

.editTopicName button {
    color: var(--light); 
    padding-top: 2px;
}

.editTopicName button:hover {
    color: var(--light) !important; 
}