.register-form {
    padding-top: calc(40vh - 227px); 
    width: 50%; 
    height: 100vh;
}

.login-btn {
    float: right;
}

@media (max-width: 518px) {
    .login-btn {
        float: initial;
        width: 100%;
    }

    .register-btn {
        width: 100%;
    }

    /* .register-form {
        padding-top: calc(35vh - 227px);
    } */
}

.padding-top-10 {
    padding-top: 10px;
}

.brand-style {
    color: #fcaf58;
    font-weight: bolder;
    letter-spacing: 1px;

    background: linear-gradient(to right, #fcaf58 0%, #d81e5b 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    font-size: 50px;
    line-height: normal;
    margin-bottom: 40px;
    text-transform: uppercase;
    text-align: center;
}

@media (max-width: 991px) {
    .brand-style {
        font-size: 34px;
    }
}